<h3>Students</h3>

<table border="1" cellpadding="8">
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Email</th>
    <th>Age</th>
    <th>Actions</th>
  </tr>

  @for (s of students(); track s.id) {
  <tr (click)="selectRow(s.id!)" [style.background]="selectedId() === s.id ? '#e0f2fe' : ''">
    <td>{{ s.firstName }}</td>
    <td>{{ s.lastName }}</td>
    <td>{{ s.email }}</td>
    <td>{{ s.age }}</td>
    <td>
      <button (click)="editStudent(s.id!)">Edit</button>
      <button (click)="deleteStudent(s.id!)">Delete</button>
    </td>
  </tr>
  } @empty {
  <p>No students found</p>
  }
</table>
