<h2>{{ isEdit() ? 'Edit Student' : 'Add Student' }}</h2>

<form (ngSubmit)="submit()">
  <input type="text" name="firstName" [(ngModel)]="student().firstName" placeholder="First Name" />

  <input type="text" name="lastName" [(ngModel)]="student().lastName" placeholder="Last Name" />

  <input type="email" name="email" [(ngModel)]="student().email" placeholder="Email" />

  <input type="number" name="age" [(ngModel)]="student().age" placeholder="Age" />

  <button type="submit">
    {{ isEdit() ? 'Update' : 'Create' }}
  </button>
</form>
